<!DOCTYPE html>
<html>
  <head>
    <title>TodoMVC</title>
      <link rel="stylesheet" href="/styles/base.css">
      <link rel="stylesheet" href="/styles/app.css">
  </head>
  <body>
    {{{body}}}
  </body>
</html>
